<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex,nofollow">
        
        <title>読み込み中…</title>
        <link rel="icon" href="/img/logo/favicon.ico">
         <link rel="stylesheet" href="/css/empty.css">
        <link rel="stylesheet" href="/css/pure-min.css">
        <link rel="stylesheet" href="/css/grids-responsive-min.css">
        <link rel="stylesheet" href="/css/ionicons.min.css">
        <link rel="stylesheet" href="/css/default.css">
    </head>
    <body>
           <div class="navbar-logo">
       <a href="/">
          <img
            src="/img/logo/IMG_0258.jpeg"
            alt="YouTube Icon"
          />
   </a>
        <h1 id="message-1>読み込み中</h1>
<script>setTimeout(function(){location.reload();},2000);</script>
  <script>const message1 = document.getElementById('message-1');

const messages = [
  '読み込み中',
  '読み込み中.',
  '読み込み中..',
  '読み込み中...'
];

let i = 0;

function showMessage_1() {
  if (i == 4) {
    i = 0;
  }
  message1.textContent = messages[i];
  i++;
}

setInterval(showMessage_1, 2000);</script>             
</body>
</html>
