<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex,nofollow">
        
        <title>読み込み中...</title>
        <link rel="icon" href="/img/logo/favicon.ico">
         <link rel="stylesheet" href="/css/empty.css">
        <link rel="stylesheet" href="/css/pure-min.css">
        <link rel="stylesheet" href="/css/grids-responsive-min.css">
        <link rel="stylesheet" href="/css/ionicons.min.css">
        <link rel="stylesheet" href="/css/default.css">
            <script src="./scripts.js"></script>
    </head>
    <body>
        <div class="top-bar">
                             <div class="navbar-logo">
     <a href="/">
          <img
            src="/img/logo/th.png"
            alt="YouTube Icon"
          />
   </a>
				        </div>
		     <nav>
		    <a href="javascript:location.replace('/bbs')">|掲示板|</a>
		     <a href="javascript:location.replace('/proxypage')">|proxy|</a>
		 　<a href="javascript:location.replace('/others')">|その他|</a>
		   <a href="javascript:location.replace('/sitsumon')">|回答よろ|</a>
		</nav>
            </div>
	    <br>
         <h1>読み込み中...</h1>
  <script>setTimeout(function(){location.reload();},1000);</script>
             <h5>ただいま動画が見れないバグが発生しておりますが、結論から申し上げますと、invが何日で治るかにかかっています。<br>invと言うyoutubeの代替サイトで動画を再生しているのですが、そのinvが全て使えなくなってしまいました…</h5>
	<h5>そのinvは僕ではどうしようもすることはできませんので、今は見れません、代わりにyoutubeを埋め込んで見れるようにしました！<br>使い方は動画を調べて、右下にボタンがあると思いますのでそちらを押してください</h5>
</body>
</html>
